{:deps
 {org.clojure/clojure #:mvn{:version "1.10.0"},
  org.lwjgl/lwjgl-stb #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openal$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nfd$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengl$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-bgfx$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-jemalloc$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tootle$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-jawt #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openal #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tootle$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opencl #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nfd$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengles$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-rpmalloc #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyfd$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-par$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-zstd$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-sse #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-assimp$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nanovg$natives-macos #:mvn{:version "3.2.3"},
  org.clojure/tools.analyzer.jvm #:mvn{:version "1.0.0"},
  org.lwjgl/lwjgl$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-sse$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lz4$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-remotery #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengles #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openvr$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lmdb #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-sse$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-vulkan #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-assimp$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nuklear$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-stb$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-remotery$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nanovg #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-zstd$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-yoga #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nanovg$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyexr$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengl$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lz4 #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengl$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-jemalloc$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-jemalloc$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-odbc #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-par #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nuklear #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nuklear$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-stb$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-egl #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-remotery$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyexr #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tootle$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lmdb$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openvr #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lmdb$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lz4$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nfd$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nfd #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-yoga$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-par$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-stb$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-assimp #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengles$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyfd$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengl #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-glfw$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lz4$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyfd$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-opengles$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-par$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-xxhash #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openvr$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-zstd$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyexr$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-glfw$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-zstd #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-sse$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-xxhash$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-remotery$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyexr$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openvr$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-xxhash$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-glfw$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-yoga$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openal$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-assimp$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nanovg$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-xxhash$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tinyfd #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-yoga$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-openal$natives-windows #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-jemalloc #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-rpmalloc$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-tootle #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-lmdb$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-rpmalloc$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-bgfx #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-nuklear$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-bgfx$natives-linux #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-bgfx$natives-macos #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-glfw #:mvn{:version "3.2.3"},
  org.lwjgl/lwjgl-rpmalloc$natives-windows #:mvn{:version "3.2.3"}}}
