{:deps
 #:org.lwjgl{lwjgl-lz4$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-stb$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-tootle$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-openvr$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-remotery$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-assimp$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-openal$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-opengles$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-rpmalloc #:mvn{:version "3.2.3"},
             lwjgl-tinyfd$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-sse$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-par$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-tinyexr$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-openvr$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-zstd$natives-linux #:mvn{:version "3.2.3"},
             lwjgl$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-bgfx$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-yoga$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-lmdb$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-glfw #:mvn{:version "3.2.3"},
             lwjgl-tinyexr #:mvn{:version "3.2.3"},
             lwjgl-jemalloc #:mvn{:version "3.2.3"},
             lwjgl-stb #:mvn{:version "3.2.3"},
             lwjgl-opengl$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-nuklear$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-bgfx #:mvn{:version "3.2.3"},
             lwjgl-openal$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-openal #:mvn{:version "3.2.3"},
             lwjgl-lz4$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-openvr #:mvn{:version "3.2.3"},
             lwjgl-tootle$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-tinyfd$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-lz4 #:mvn{:version "3.2.3"},
             lwjgl-nfd$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-yoga #:mvn{:version "3.2.3"},
             lwjgl-tinyexr$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-par #:mvn{:version "3.2.3"},
             lwjgl-stb$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-zstd$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-tinyexr$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-vulkan #:mvn{:version "3.2.3"},
             lwjgl-assimp$natives-windows #:mvn{:version "3.2.3"},
             lwjgl$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-xxhash$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-nfd$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-opengles #:mvn{:version "3.2.3"},
             lwjgl-opencl #:mvn{:version "3.2.3"},
             lwjgl-lmdb #:mvn{:version "3.2.3"},
             lwjgl-nfd$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-glfw$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-assimp$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-opengl$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-bgfx$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-zstd #:mvn{:version "3.2.3"},
             lwjgl-sse$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-glfw$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-nuklear$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-remotery$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-nanovg #:mvn{:version "3.2.3"},
             lwjgl-zstd$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-rpmalloc$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-par$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-xxhash #:mvn{:version "3.2.3"},
             lwjgl-nuklear$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-xxhash$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-rpmalloc$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-lmdb$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-glfw$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-remotery$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-opengl #:mvn{:version "3.2.3"},
             lwjgl-egl #:mvn{:version "3.2.3"},
             lwjgl-openal$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-lz4$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-jemalloc$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-nanovg$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-lmdb$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-opengl$natives-macos #:mvn{:version "3.2.3"},
             lwjgl #:mvn{:version "3.2.3"},
             lwjgl-nuklear #:mvn{:version "3.2.3"},
             lwjgl-jemalloc$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-odbc #:mvn{:version "3.2.3"},
             lwjgl-yoga$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-par$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-jemalloc$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-jawt #:mvn{:version "3.2.3"},
             lwjgl-tootle$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-remotery #:mvn{:version "3.2.3"},
             lwjgl-bgfx$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-rpmalloc$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-tinyfd #:mvn{:version "3.2.3"},
             lwjgl-yoga$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-stb$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-sse #:mvn{:version "3.2.3"},
             lwjgl-tinyfd$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-tootle #:mvn{:version "3.2.3"},
             lwjgl-nanovg$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-sse$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-nanovg$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-xxhash$natives-linux #:mvn{:version "3.2.3"},
             lwjgl$natives-linux #:mvn{:version "3.2.3"},
             lwjgl-opengles$natives-macos #:mvn{:version "3.2.3"},
             lwjgl-assimp #:mvn{:version "3.2.3"},
             lwjgl-nfd #:mvn{:version "3.2.3"},
             lwjgl-opengles$natives-windows #:mvn{:version "3.2.3"},
             lwjgl-openvr$natives-linux #:mvn{:version "3.2.3"}}}
